@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

.movete {
    position: absolute;
    top: 15rem;
    left: 8.8rem;
}

.movete .btn-success {
    color: rgb(0, 255, 0);
    background-color: transparent;
    border-color: rgb(26, 170, 26);
    font-size: 50px;
}

.btn-secondary {
    color: white;
    background: orangered;
    border-color: transparent;
}

.close .modal-title {
    color: orangered;
}

.close {
    color: orangered;
}

.custom1 {
    background: rgba(0, 0, 0, 0.475);
}

.custom2 {
    background: rgb(16, 2, 34);
    color: white;
}

.modal-body {
    background-image: url(https://image.freepik.com/foto-gratis/retrato-hombre-fondo-negro-hombre-negocios-planeando-trabajo_98785-97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'Play';
}

.modal-body:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.personalData {
    position: relative;
    color: white;
    line-height: 0.6;
    margin-top: 3rem;
}

.per {
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
    color: rgb(238, 241, 24)
}

.presentation {
    position: relative;
    margin-top: 6rem;
    color: mediumaquamarine;
}

.education1 {
    position: relative;
    color: white;
    line-height: 1;
    margin-top: 6rem;
}

.education2 {
    position: relative;
    color: white;
    line-height: 1;
    margin-top: 2.5rem;
}