@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

.movete {
    position: absolute;
    top: 17rem;
    left: 7.5rem;
}

.movete .btn-info {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgb(50,188,233);
    font-size: 1.1rem;
    font-family: 'Press Start 2P';
}

.btn-secondary {
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgb(50,188,233);
}

.close .modal-title {
    color: white;
}

.close {
    color: white;
}

.custom1 {
    background: rgb(0, 3, 38);
}

.custom2 {
    background: rgb(0, 3, 38);
    color: white;
}

.modal-title img{
    height: 2rem;
    width: 4rem;
}

.modal-body {
    background-image: url(https://image.freepik.com/foto-gratis/retrato-hombre-fondo-negro-hombre-negocios-planeando-trabajo_98785-97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'Play';
}

.modal-body:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.personalData {
    position: relative;
    color: white;
    line-height: 0.6;
    margin-top: 3rem;
}

.per {
    font-family: 'Press Start 2P';
    font-size: 0.8rem;
    color: rgb(50,188,233);
}

.education1 {
    position: relative;
    color: white;
    line-height: 1;
    margin-top: 6rem;
}

.education2 {
    position: relative;
    color: white;
    line-height: 1;
    margin-top: 2.5rem;
}

.logoModal{
    height: 2rem;
    width: 4rem;
}