.homeContainer{
    background: url('https://steamuserimages-a.akamaihd.net/ugc/934931664802539894/A80395F9B3A0A882EE9048FD7AF616B15AA33EC6/') no-repeat center ;
    background-size: cover;
    height: 100vh; 
}